@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'PoppinsBold'; 
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold'; 
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins'; 
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}